.weather-add-location-form__fields {
  display: grid;
  grid-template-columns: 1fr 35px;
}

.weather-add-location-form__button {
  position: relative;

  background-color: transparent;
  border: none;
}

.weather-add-location-form__button:hover {
  cursor: pointer;
}

.weather-add-location-form__button img {
  position: absolute;
  top: calc(50% + 2px);
  left: 50%;

  transform: translate(-50%, -50%);
}

.weather-add-location-form__error-message {
  margin-top: 1px;
  margin-bottom: 0;

  font-size: 12px;

  color: red;
}
