.weather-card {
  box-sizing: border-box;
  width: 200px;

  font-size: 12px;
  text-align: left;
}

.weather-card__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: bold;
}

.weather-card__temperature-block {
  margin-bottom: 10px;
}

.weather-card__row {
  display: flex;
}

.weather-card__row > * {
  flex-basis: 50%;
}

.weather-card__temperature {
  margin: 0;
  height: 65px;

  font-size: 24px;
  font-weight: bold;
  line-height: 65px;
}

.weather-card__icon {
  margin: 0;
  height: 65px;

  background-repeat: no-repeat;
  background-size: 65px;
  background-position: 50% 50%;
}

.weather-card__description {
  margin: 0;
}

.weather-card__wind-speed {
  margin: 0;
}

.weather-card__pressure {
  margin: 0;
}

.weather-card__humidity {
  margin: 0;
}

.weather-card__visibility {
  margin: 0;
}

.weather-card__spacing {
  margin-bottom: 5px;
}
